:root {
  --primary-color: hsl(26, 100%, 55%);
  --secondary-color: hsl(25, 100%, 94%);
  --dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(223, 64%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --primary-font: "Kumbh Sans";
}

body p {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-border {
  width: 75rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.nav-items {
  display: flex;
  margin-right: 25rem;
}
.person-image {
  width: 3rem;
}
.toggle-bar {
  display: none;
}

.cart-image {
  width: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.submenu {
  position: relative;
}

.submenu:hover .shopping-cart {
  display: block;
}

.shopping-cart {
  display: none;
}

.shopping-cart {
  width: 17rem;
  position: absolute;
  min-height: 12rem;
  right: 0.5rem;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
  background-color: var(--color-white);
  border-radius: 0.5rem;
}

.shopping-cart hr {
  position: relative;
  bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.shopping-cart h4 {
  font-size: 0.7rem;
  margin-left: 0.8rem;
  margin-bottom: 1.5rem;
}

.shopping-cart p {
  text-align: center;
  margin-top: 1.5rem;
  color: var(--dark-grayish-blue);
}

.cart-image .person-image {
  align-items: center;
}

.nav-items a:hover {
  border-bottom: 0.4rem solid var(--primary-color);
}

.nav-items li a {
  padding: 1rem;
  font-family: "Kumbh Sans", sans-serif;
  color: var(--dark-grayish-blue);
  font-size: 0.8rem;
}

.nav-images {
  display: flex;
  align-items: center;
}

.nav-images .person-image {
  width: 3rem;
}

.nav-images .cart-image {
  margin-right: 2.5rem;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.showcase .showcase-image {
  width: 25rem;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.showcase-content {
  margin-right: 4rem;
  width: 40%;
}

.showcase-text {
  color: var(--dark-grayish-blue);
  line-height: 1.5rem;
}

.showcase .product-images img {
  border-radius: 1rem;
  width: 6.2rem;
}

.showcase .product-images img:hover {
  border: 2.5px solid var(--primary-color);
  opacity: 0.3;
}
span {
  text-transform: uppercase;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 0.6rem;
  color: var(--primary-color);
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.logo-box span {
  font-size: 1.5rem;
}

.showcase-content .showcase-heading {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 2rem;
  margin-top: 0.5rem;
  letter-spacing: 0.1rem;
}
.price {
  margin-bottom: -0.5rem;
}

.old-price {
  color: var(--dark-grayish-blue);
  font-size: 0.8rem;
  font-weight: 500;
  font-family: var(--primary-font);
  margin-bottom: 2rem;
}

.add-to-cart {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--color-white);
  width: 11.5rem;
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.add-to-cart img {
  width: 1rem;
  background-color: white;
}

.discount {
  font-family: var(--primary-font);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 700;
  font-size: 0.78rem;
  border: none;
  border-radius: 1px;
}

.minus-btn,
.plus-btn,
.zero-btn {
  padding: 0.8rem;
  width: 3rem;
  border: none;
  border-radius: 2px;
  background-color: var(--grayish-blue);
}

.minus-btn {
  margin-right: -0.5rem;
}

.plus-btn {
  margin-left: -0.5rem;
}

/* Checkout product styling */

#my-product {
  width: 90%;
  margin-top: 0.2rem;
  margin: 0.2rem 0.5rem 1.5rem 0.5rem;
}
#my-product div {
  height: 100%;
}
.hidden {
  display: none;
}
.check-out {
  padding: 1rem;
  background-color: var(--primary-color);
  width: 15rem;
  height: 3rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  margin: 1rem 0.5rem;
  text-align: center;
  color: var(--color-white);
  font-weight: bold;
  font-size: 1rem;
  font-family: var(--primary-font);
}

#product-info img {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
}
#product-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin: 0 0.5rem; */
}
#product-card h6 {
  padding: 0;
  margin: 0;
  color: var(--dark-grayish-blue);
  font-family: var(--primary-font);
}
#total-amount span {
  color: var(--dark-grayish-blue);
  line-height: 1rem;
  font-family: var(--primary-font);
}
#total-amount span:first-child {
  margin-right: 1rem;
}
#total-amount span:nth-child(2) {
  font-weight: 900;
}
.fa-trash-alt {
  color: var(--dark-grayish-blue);
}

#collections {
  width: 80%;
  /* background-color: var(--primary-color); */
  margin: 6rem 4rem 4rem 8rem;
  text-align: center;
}

#collections h2 {
  color: var(--primary-color);
  font-size: 2rem;
  font-family: var(--primary-font);
}
.collection-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-no {
  margin: 2rem;
  cursor: pointer;
}
.item-no img {
  width: 12rem;
  height: 12rem;
  border-radius: 0.5rem;
}
.item-no img:hover {
  border: 2.5px solid var(--primary-color);
  opacity: 0.3;
}
.item-no h6 {
  color: var(--primary-color);
  font-size: 1rem;
  font-family: var(--primary-font);
  text-align: center;
}

/* checkout */

.over-lay {
  position: absolute;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 10;
  display: none;
  justify-items: center;
  align-items: center;
}
.checkout-form {
  position: absolute;
  width: 25rem;
  min-height: 20rem;
  background-color: white;
  text-align: center;
  z-index: 200;
  border-radius: 1rem;
}
.checkout-form h4 {
  color: var(--primary-color);
  margin-top: 2rem;
  font-family: var(--primary-font);
}
.checkout-title {
  font-size: 0.8rem;
  font-family: var(--primary-font);
}
.checkout-title span {
  margin: 0 2rem;
}
.pp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pp div p {
  font-size: 0.8rem;
}
.pp div {
  margin: 0.5rem;
}
.pay-buttons {
  margin-top: 2rem;
}
.pay,
.receipt {
  margin: 2rem;
  background-color: var(--primary-color);
  padding: 0.25rem 1rem;
  color: var(--secondary-color);
  font-size: 1rem;
  border-radius: 0.2rem;
  border: none;
}
.amount-payable {
  font-size: 1.5rem;
  color: black;
  margin-left: 0.5rem;
}

/* Media Queries */

@media screen and (max-width: 1186px) {
  .over-lay {
    width: 100%;
    height: 100%;
  }
  .nabar {
    position: relative;
    width: 100%;
    justify-content: space-between;
  }
  .nav-items {
    position: absolute;
    flex-direction: column;
    top: 6rem;
    width: 100%;
    background-color: var(--primary-color);
    height: 20rem;
    text-align: right;
    display: none;
    transition: all 0.5s;
  }
  .show-menu {
    display: block;
  }
  .nav-items li a {
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--color-white);
  }
  .nav-items li {
    margin: 0.5rem 2rem;
  }
  .nav-items li:first-child {
    margin-top: 2rem;
  }

  .logo-box {
    position: relative;
    right: -3rem;
  }

  .cart-section {
    position: relative;
    left: 24rem;
  }
  .toggle-bar {
    display: block;
    float: right;
    margin-right: 2rem;
    position: relative;
    left: 15rem;
    font-size: 1.5rem;
  }

  #collection {
    width: 80%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1011px) {
  .over-lay {
    width: 100%;
    height: 100%;
  }
  .cart-section {
    margin-right: 6rem;
  }
  .product-1 {
    margin-right: 7rem;
    margin-left: 4rem;
    width: 60%;
  }
  .showcase-content {
    width: 60%;
    margin-right: -10rem;
  }
  .product-images {
    margin-top: 4rem;
    width: 100%;
  }
  .collection-items {
    width: 90%;
    margin: 2rem 3rem 3rem 2rem;
  }
  .item-no {
    width: 10rem;
  }
}

@media screen and (min-width: 550px) and (max-width: 800px) {
  .over-lay {
    width: 100%;
    height: 100%;
  }
  .container {
    flex-direction: column;
  }
  .cart-section {
    margin-right: 10rem;
  }
  .logo-box {
    margin-right: 5rem;
    font-size: 1rem;
  }
  .product-1 {
    text-align: center;
    width: 80%;
    margin-left: 4rem;
  }
  .showcase-content {
    width: 80%;
    margin-right: -10rem;
    margin-top: 4rem;
  }
  .product-photo {
    width: 2rem;
  }
  .showcase-image {
    width: 20rem;
    margin-bottom: 2rem;
  }
  #collections {
    margin: 8rem 2rem 2rem 2rem;
    width: 100%;
  }
  .collection-items {
    width: 100%;
    margin: 1rem 4rem;
  }
  .item-no {
    width: 8rem;
  }
}

@media screen and (max-width: 550px) {
  .over-lay {
    width: 100%;
    height: 100%;
  }
  .container {
    flex-direction: column;
  }
  .cart-section {
    margin-right: 10rem;
  }
  .logo-box {
    margin-right: 5rem;
    font-size: 1rem;
  }
  .product-1 {
    text-align: center;
    width: 80%;
    margin-left: 7rem;
  }
  .showcase-content {
    width: 80%;
    margin-right: -10rem;
    margin-top: 4rem;
  }
  .product-photo {
    width: 2rem;
  }
  .showcase-image {
    width: 20rem;
    margin-bottom: 2rem;
  }
  #collections {
    margin-top: 8rem;
  }
  .collection-items {
    flex-direction: column;
  }
}
